<section class="flex flex-col md:flex-row py-20 md:p-20 gap-y-10">
<div class="flex-1 grid grid-cols-2 gap-4">
    <div class="text-center" >
        <img src="favicon.svg" class="w-20 m-auto">
        <p class="mt-4">Dev Managment</p>
    </div> 

    <div  class="text-center">
        <img src="favicon.svg" class="w-20 m-auto">
        <p class="mt-4">Dev Managment</p>
    </div>
    
    <div class="text-center">
        <img src="favicon.svg" class="w-20 m-auto">
        <p class="mt-4">Dev Managment</p>
    </div>
    <div class="text-center">
        <img src="favicon.svg" class="w-20 m-auto">
        <p class="mt-4">Dev Managment</p>
    </div>  
</div> 
<div class="flex flex-1 flex-col gap-y-10 text-center ">
    <h2 class="text-5xl font-bold  ">papa con guebo papa con guebo papa con guebo papa con guebo 
    </h2>
    <p class="text-3xl text-zinc-300">papa con guebo papa con guebo papa con guebo</p>
 </div> 
</section>    